*.json
.vscode/
-p/
*.o
*.exe
*.out
*.log
*.txt
*.csv
*.py
*.pl
*.rb
*.ts
*.php
*.java
*.class
*.jar
*.war
*.ear
*.xml
*.yml
*.yaml
*.toml
*.ini
*.cfg
*.conf
*.properties
*.asm

# Ignore HTML, CSS, JS globally...
*.html
*.css
*.js

# ...but allow them in the visualizer folder
!ast_visualizer_tree/*.html
!ast_visualizer_tree/*.css
!ast_visualizer_tree/*.js
